*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#roadmap{
    background-image: linear-gradient(#20bf55, #01baef);
    padding: 2em;
    color: white;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
}

#nav_links{
    color: white;
}

#boxes{
    text-align: center;
    margin-top: 5rem;
}


#smart{
    margin-top: 3em;
    background: rgb(9, 9, 54);
    color: white;
    padding: 3em;
    text-align: center;
    border-radius: 10px;   
}

#soon{
    background-image: image("{{ asset('img/server.svg') }}");
    margin-top: 8em;
}

#stages{
    margin-top: 3em;
    
}

#stages ul li{
list-style-type: square;

}

